html {
    background: #F6F6F6;
    font-family: "Lucida Console", serif;
    font-size: 125%;
}


body {
    margin-left: 5%;
    margin-right: 5%;
}

#content {
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

tr {
    border-bottom: 1px solid #000;
    width: 100%;
}

tr:nth-child(odd) {
    background-color: #CBCBC1;
}

tr:nth-child(even) {
    background-color: #B6AEA1;
}

tr:first-child {
    background-color: #E7512D;
}

th, td {
    vertical-align: text-top;
    border-spacing: 10px;
    padding: 5px;
	word-wrap: break-word;
}

th:nth-child(1), td:nth-child(1) {
    width: 30%;
}

th:nth-child(2), td:nth-child(2) {
    width: 70%;
}
